/*cool color: #1fc08e*/

html {
    background-color: black;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

body {
	padding-top: 1%;
}

#topBars > hr {
	top: 0;
	border: 1px solid #1fc08e;
}

#topBars:hover {
	cursor: pointer;
}

hr {
	width: 3%;
}

.nameDefault {
/*    font-family: 'Josefin Sans', sans-serif;
    font-size: 46px;*/
    /*    color: #ffcd00;
*/
    text-transform: uppercase;
    padding-top: 5%;
}

#gradient {
  display: table;
  margin: 0 auto;
/*  font-family: "Roboto Slab";
*/  font-weight: 500;
  font-size: 6.3em;
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 150px;
}

#middleName {
    font-size: 75px;
    font-family: 'Rochester', cursive;
    color: orange;
}

#jobTitle {
    font-family: 'Rochester', cursive;
    -webkit-text-stroke: 0.1px #e05252;
    color: #262626;
    font-size: 45px;
    margin-top: -3%;
}

.contactLinks {
	display: inline-block;
	width:70em;
	display: none;
}

.fa {
    padding: 0 3%;
}

.fa-angle-left {
    padding-right: 28%;
}

.fa-twitter {
    color: #55acee;
}

.fa-linkedin {
    color: #4c66a4;
}

.fa-github {
    color: purple;
}

.fa-envelope-o {
    color: red;
}

.pageNavigation > div {
    display: inline-block;
}

#circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    transition-property: border, transform;
    border: 1px solid purple;
}

#circle:hover {
    -webkit-transform: rotateZ(230deg);
    -ms-transform: rotateZ(30deg);
    transform: rotateZ(360deg);
    transition: 1s;
    transition-property: border, transform;
    border: 1px dotted #99e052;
    box-shadow: 1px 1px 3px 1px #52e0e0;
}

#circle > h3 {
	padding-top:22%;
}

.aboutMeLink {
    width: 100%;
    margin-left: 22%;
    border-radius: 8rem;
}

.portfolioLink {
    max-width: 75%;
    margin-left: 12%;
}

.aboutMeBlurb {
    font-size: 20px;
    display: none;
}

.aboutMePartI,
.aboutMePartII,
.aboutMePartIII {
    border: 1px solid orange;
    border-radius: 2rem;
    padding: 1%;
}

.aboutMePartII {
    width: 80%;
    background-color: #ffcd00;
    margin-left: 11%;
    color: black;
}

.portfolioHeaders > h2,
.portfolioImages > img {
    display: none;
}

.portfolioHeaders {
    padding-top: 1%;
    color: orange;
}

.portfolioImages > img {
    width: 90%;
}

.portfolioNavigation {
    display: none;
    color: orange;
}

#navigateBack:hover,
#navigateForward:hover {
    cursor: pointer;
}

@media screen and (min-width: 712px) {
/*    body {
        padding-top: 8%;
    }*/
    .nameDefault {
        font-size: 10em;
    }
    #middleName {
        font-size: 95px;
    }
    #jobTitle {
        font-size: 62px;
        margin-top: -1%;
    }

    #circle {
        margin: 0 2%;
        display: inline-block;
    }
    .contactLinks {
        padding-top: 2%;
    }
    .aboutMePartI,
    .aboutMePartIII {
        width: 49%;
        margin-left: 25%;
    }
    .aboutMePartII {
        width: 31%;
        margin-left: 35%;
    }
    .portfolioImages > img {
        width: 50%;
    }
    .socialIconsList {
        margin-left: 8%;
    }
}
